<div class="ui container" style="padding: 10%">
  <div class="ui placeholder segment" style="padding: 320px">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row g-2">
    <div class="mb-3"
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" %>
  </div>
      <div class="mb-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" , class:"form-control"   %>
      </div>
  </div>
      <br>






  <div class="col-12">
    <%= f.submit "Log in" , class:"ui positive button" %>
  </div>
<% end %>

</div>
</div>
