<div class="ui container" style="padding: 10%">
  <div class="ui  placeholder segment" style="padding: 230px">

    <h2 class="ui text" >Sign Up</h2>
    <br>


    <%= form_for(resource, as: resource_name, class:"ui form", url: registration_path(resource_name)) do |f| %>

      <%= render "accounts/shared/error_messages", resource: resource %>

      <%= fields_for :patient do |form| %>

<div class="row mb-3 ">
  <%= form.label :name , class:"col-sm-8 col-form-label" %>
  <div class="col-sm-10">
        <%= form.text_field :name , class:"form-control" %>
  </div>
</div>



        <div class="row mb">
          <%= form.label :sex %>
          <%= form.radio_button :sex , "Male"%>
          <%= form.label :sex_Male , "Male" %>
          <%= form.radio_button :sex , "Female"%>
          <%= form.label :sex_Female , "Female" %>`

        </div>

        <div class="row mb-3 ">
          <%= form.label :age, class:"col-sm-8 col-form-label" %>
          <div class="col-sm-10">
            <%= form.number_field :age , class:"form-control" %>
          </div>
        </div>

        <div class="row mb-3 ">
          <%= form.label :Phone , class:"col-sm-8 col-form-label" %>
          <div class="col-sm-10">
            <%= form.telephone_field :mobile_number , class:"form-control" %>
          </div>
        </div>
      <% end %>


      <div class="row mb-3 ">
        <%= f.label :email , class:"col-sm-8 col-form-label" %>
        <div class="col-sm-10">
          <%= f.email_field :email , class:"form-control" %>
        </div>
      </div>
      <div class="row mb-3 ">
        <%= f.label :password , class:"col-sm-8 col-form-label" %>
        <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "new-password"  , class:"form-control"%>

      </div>
      </div>



      <div class="row mb-3 ">
        <%= f.label :password_confirmation , class:"col-sm-8 col-form-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, autocomplete: "new-password"  , class:"form-control"%>

        </div>
      </div>
      <br>


      <div class="col-14" style="padding-right: 98px">
        <%= f.submit "Sign up" , class:'ui positive button' %>
      </div>
    <% end %>
    <br>

<div class="col-sm"  style="padding-right: 98px">
  <%= render "accounts/shared/links" , class:"ui postitive button" %>
</div>



  </div>
</div>