<div class="ui container" style="padding: 10%">
  <div class="ui  placeholder segment" style="padding: 230px">

    <h2 class="field" >Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render "accounts/shared/error_messages", resource: resource %>

      <%= fields_for :patient do |form| %>
        <%= form.label :name , style:"font-size:20px ; padding-left:40px " %>
<div class="ui input focus">

        <%= form.text_field :name , style:"padding-right:60px"  %>
</div>


        <%= form.label :sex , style:"font-size:20px ; padding-left:40px " %>
        <div class="ui input"  >

          <%= form.radio_button :sex , "Male"%>
          <%= form.label :sex_Male , "Male" %>
          <%= form.radio_button :sex , "Female"%>
          <%= form.label :sex_Female , "Female" %>

        </div>
        <div class="field">
          <%= form.label :age %>
          <%= form.number_field :age %>


        </div>
        <div class="field">
          <%= form.label :phone%>
          <%= form.telephone_field   :mobile_number%>

        </div>

      <% end %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br>


      <div class="field">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <br>

<div class="field"  style="padding-right: 98px">
  <%= render "accounts/shared/links" %>
</div>



  </div>
</div>