<div style="padding: 40px">
  <% if @doctors.count == 0 %>
    <h2>
      No Doctors to show
    </h2>

  <% else %>
    <div class="ui grid">

      <% @doctors.each do |doctor| %>
        <div class="ui five wide column" >
          <div class="ui  raised segment"  style="height: 300px">
            <div class="ui  segments" style="display: flex;flex-direction: row;justify-content: space-between;align-items: center">
              <div style="width:20%">
                <div class="item ui label massive" , style="width: 200px;overflow:clip" >
                  <i class="doctor icon">
                    <h1 style="font-family: 'Jost', sans-serif ;">
                      <%= doctor.name %>
                    </h1>
                  </i>
                </div>
              </div>
              <div style="padding: 0px 10px; ">
                <strong style="font-size: 20px">
                  Specialization:
                  <%= doctor.specialization %>
                </strong>
              </div>
            </div>
            <div style="display: flex; justify-content: space-between">

              <div style="font-size: 20px">
                Patients Attended :
                <%= doctor.appointments.where(status: 1).count %>
              </div>



            </div>

            <div style="font-size: 20px">
              Mail :
              <%= doctor.email %>
            </div>
            <br>
            <br>

            <div>
              <%= link_to 'Book Appointment 💉', doctor, class: "ui inverted orange button", style: "font-size:15px" %> &ensp;
              <%= link_to 'Ratings and Review', "/doctors/#{doctor.id}/ratings", class: "ui blue inverted  button", style: "font-size:15px; width:max-content , color: darkblue" %>
            </div>


          </div>
        </div>

      <% end %>
      </div>
    </div>
  <% end %>
</div>

</div>
</div>

