<!DOCTYPE html>
<html>
  <head>
    <title>Hospital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/modal.min.js" integrity="sha512-OGERHcA15jiPgUEtlw33PspOK3kIgHsuzQl5DMpLhKJumGi+EWA4yUa2FaawonaQ0KGk44NV+fAQiPMHPUXQQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>

  <body>
  <div class="ui stackable menu huge massive" style="background-color: #1C315E; height: 110px">
    <div class="item" , style="padding-top: 10px">
      <%= image_tag("h.png" , style: "height:110px;width:80px")%>
    </div>


    <div class = "right menu">

<!--      <a class="item"> Edit Profile</a>-->
     <% if current_account %>
        <% if current_account.accountable_type=='Patient' %>

          <%= link_to "Book Appointment" ,root_url , class: 'item' , style: 'font-size:25px; color:white' %>
          <%= link_to "My Appointments" , patient_appointments_path(current_account.accountable_id) , class:'item', style: 'font-size:25px; color:white' %>
        <div , style="padding-top: 20px">
          <%= button_to "Log out " , destroy_account_session_path , method: :delete , class:'ui inverted orange button', style: 'font-size:25px; color:white' %>
        </div>

        <%else %>

          <div , style="padding-top: 20px">
            <%= button_to "Log out " , destroy_account_session_path , method: :delete , class:'ui inverted orange button', style: 'font-size:25px; color:white' %>
          </div>
        <%end %>
        <% else %>
        <%= link_to "Hospitals" , hospitals_path , class: 'item' , style: 'font-size:25px; color:white'%>
        <div style="padding-top: 34px; padding-right: 20px">

          <%= button_to "Sign up/ Login" ,  new_account_registration_path  , method: :get,  class: 'ui white button' , style: 'font-size:15px; color:black ' %>
        </div>

<% end %>

        </div>
  </div>
<% if notice %>
    <div class="ui positive notice message" style="width: max-content; margin: auto" >
      <i class="close icon"></i>
      <%= notice  %>
    </div>
    <%end %><% if alert %>
    <div class="ui negative notice message" style="width: max-content; margin: auto" >
      <i class="close icon"></i>
      <%= alert  %>
    </div>
  <%end %>


  <%= yield %>
    <style>

    </style>
    <script>
        document.querySelector('.message .close.icon')?.addEventListener('click', (ev)=> { ev.target.parentElement.style.display = "none";});
    </script>
  </body>
</html>
