<!DOCTYPE html>
<html>
  <head>
    <title>Hospital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>-->

  </head>

  <body>
  <div class="ui stackable menu massive" style="background-color: #98DFD6">
    <div class="item">
      <%= image_tag("h.png") %>
    </div>
    <a class="item">About us</a>
    <a class="item">Ratings and Our Partners</a>
    <a class="item" >Testimonials</a>

    <div class = "right menu">

<!--      <a class="item"> Edit Profile</a>-->
     <% if current_account %>
        <% if current_account.accountable_type=='Patient' %>
          <%= link_to "My Appointments" , patient_appointments_path(current_account.accountable_id) , class:'item' %>
          <%= link_to "Log out " , destroy_account_session_path , method: :delete , class:'item' %>
        <%else %>

          <%= link_to "Logout" , destroy_account_session_path , class:'item' %>
        <%end %>
        <% else %>
<%= link_to "Sign up" ,  new_account_registration_path  , class: 'item' %>
<% end %>

        </div>
  </div>
<% if notice %>
    <div class="ui positive message" style="padding-left: 44% ">
      <%= notice  %>
    </div>
    <%end %>
    <%= yield %>
  </body>
</html>
